/* Pray For Paris Regular */
@font-face {
font-family: 'Pray For Paris';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://huseti.github.io/PrayForParis/PRAYFORPARIS.eot) format('embedded-opentype');
}