/* Josefin Regular */
@font-face {
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 400;
font-display: swap;
src: url(https://huseti.github.io/JosefinSans/JosefinSans-Regular.ttf) format('truetype');
}

/* Josefin Italic */
@font-face {
font-family: 'Josefin Sans';
font-style: italic;
font-weight: 400;
font-display: swap;
src: url(https://huseti.github.io/JosefinSans/JosefinSans-Italic.ttf) format('truetype');
}

/* Josefin Bold */
@font-face {
font-family: 'Josefin Sans';
font-style: normal;
font-weight: 700;
font-display: swap;
src: url(https://huseti.github.io/JosefinSans/JosefinSans-Bold.ttf) format('truetype');
}

/* Josefin Bold Italic */
@font-face {
font-family: 'Josefin Sans';
font-style: italic;
font-weight: 700;
font-display: swap;
src: url(https://huseti.github.io/JosefinSans/JosefinSans-BoldItalic.ttf) format('truetype');
}
